.input-field label {
			color: #000;
		}
		/* label focus color */
		.input-field input[type=text]:focus + label {
			color: red;
		}
		.input-field input[type=tel]:focus + label {
			color: red;
		}
		.input-field input[type=email]:focus + label {
			color: red;
		}

		.input-field input[type=number]:focus + label {
			color: red;
		}
		.input-field textarea.materialize-textarea:focus + {
			color: red;
		}	
		

		/* label underline focus color */
		.input-field input[type=text]:focus {
			border-bottom: 1px solid #000;
			box-shadow: 0 1px 0 0 #000;
		}
		.input-field input[type=tel]:focus {
			border-bottom: 1px solid #000;
			box-shadow: 0 1px 0 0 #000;
		}
		.input-field input[type=email]:focus {
			border-bottom: 1px solid #000;
			box-shadow: 0 1px 0 0 #000;
		}
		
		.input-field input[type=number]:focus {
			border-bottom: 1px solid #000;
			box-shadow: 0 1px 0 0 #000;
		}

		input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea:focus {

			border-bottom: 1px solid #000;

		}
		textarea.materialize-textarea {
			background-color: transparent;
			border: none;
			border-bottom: 1px solid #000;
			border-radius: 0;
			outline: none;
			height: 3rem;
			width: 100%;
			font-size: 1rem;
			margin: 0 0 15px 0;
			padding: 0;
			box-shadow: none;
			box-sizing: content-box;
			transition: all .3s;
		}
		textarea.materialize-textarea:focus:not([readonly]){
			border-bottom: 1px solid #000;
			box-shadow: 0 1px 0 0 #000;

		}
		textarea.materialize-textarea:focus + label:not([readonly]){
			color: red;
		}

		input[type="radio"]:checked+label:after {

			border: 2px solid red;
			background-color: red;

		}
		label{
			color:black;
		}
		.dropdown-content li>a, .dropdown-content li>span {

			color: #black;

		}

		.select-wrapper input.select-dropdown {

			border-bottom: 1px solid #000;
		}
		.dropdown-content li>a, .dropdown-content li>span {

			color: #000;

		}
		input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]){
			border-bottom: 1px solid #000;
			box-shadow: 0 1px 0 0 #000;
		}
		[type="checkbox"]:checked+label:before {
			
			border-right: 2px solid red;
			border-bottom: 2px solid red;
			
		}